.categories {
    width: 100%;
    height: 100%;
    padding: 3.2rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}
.header h2 {
    grid-row: 1;
}
.header p {
    grid-row: 2;
}
.header button {
    grid-row: 2;
}
