/* edit and show-files */

.edit form,
.show article {
    background: white;
    padding: 1.2rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, .05);
}
.edit h2,
.show h2 {
    margin-bottom: 1rem;
}
.show img {
    max-width: 50%;
    height: auto;
}

.edit form {
    input, select, textarea {
        width: 50vw;
        min-width: 10rem;
    }
}

.edit details label,
.edit details input {
    display: block;
    margin: 1rem 0;
}