/* buttons edit and delete */

button.edit,
button.delete-btn,
button.save {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    padding: .4rem .8rem .4rem 2rem;
    margin-right: .4rem;
    border: 0px solid #eee;
    border-radius: .4rem;
    font-size: .9em;
}
button.delete-btn {
    background-color: #ffe3e1;
    background-image: url(../icons/trash.svg);
    background-size: 35% 70%;
    color: #990F00;
}
button.edit {
    background-color: #ffecbe;
    background-image: url(../icons/edit.svg);
    background-size: 40% 70%;
    color: #664900;
}
button.edit:hover, 
button.delete-btn:hover,
button.save:hover {
    filter: saturate(5);
}

button.save {
    background-color: #f8dcf8;
    background-image: url(../icons/save.svg);
    background-size: 40% 70%;
    color: #6B006B;
}

/* button add new */

button.add-btn {
    color: white;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: .4rem;
    border: 0px solid #eee;
    border-radius: .4rem;
    background-image: url(../icons/plus-white.svg);
    background-size: 30% 70%;
    background-color: #A80081;
    padding: 1rem 1.2rem 1rem 3.6rem;
}
button.add-btn:hover {
    background-color: #da01a8;
}

/* sorting arrows */

.arrow {
    display: inline-block;
    background-size: 100% 120%;
    background-position: center;
    height: .9rem;
    width: 1.2rem;
    position: relative;
    top: .1rem;
}
.arrow.arrow-down {
    background-image: url(../icons/arrow_down.svg);
}
.arrow.arrow-up {
    background-image: url(../icons/arrow_down.svg);
    transform: rotate(180deg);
}

/* logout */

#logout-form button {
    cursor: pointer;
    border: none;
    background: white url(../icons/logout.svg) no-repeat;
    background-size: 25% 100%;
    background-position: center left;
    padding-left: 2rem;
}
#logout-form button:hover {
    font-weight: bold;
}