/* buttons edit and delete */

button.edit,
button.delete-btn,
button.save {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    padding: .4rem .8rem .4rem 2rem;
    margin-right: .4rem;
    border: 0px solid #eee;
    border-radius: .4rem;
    font-size: .9em;
}
button.delete-btn {
    background-color: rgb(250, 230, 228);
    background-image: url(../icons/trash.svg);
    background-size: 35% 70%;
    color: salmon;
}
button.edit {
    background-color: #fff1cf;
    background-image: url(../icons/edit.svg);
    background-size: 40% 70%;
    color: #d89b01;
}
button.edit:hover, 
button.delete-btn:hover,
button.save:hover {
    filter: saturate(5);
}

button.save {
    background-color: rgb(248, 220, 248);
    background-image: url(../icons/save.svg);
    background-size: 40% 70%;
    color: #864386;
}

/* button add new */

button.add-btn {
    color: white;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: .4rem;
    border: 0px solid #eee;
    border-radius: .4rem;
    background-image: url(../icons/plus-white.svg);
    background-size: 30% 70%;
    background-color: rgb(187, 56, 157);
    padding: 1rem 1.2rem 1rem 3.6rem;
}
button.add-btn:hover {
    background-color: rgb(218, 1, 168);
}

/* sorting arrows */

.arrow {
    display: inline-block;
    background-size: 100% 120%;
    background-position: center;
    height: .9rem;
    width: 1.2rem;
    position: relative;
    top: .1rem;
}
.arrow.arrow-down {
    background-image: url(../icons/arrow_down.svg);
}
.arrow.arrow-up {
    background-image: url(../icons/arrow_down.svg);
    transform: rotate(180deg);
}

/* logout */

#logout-form button {
    cursor: pointer;
    border: none;
    background: white url(../icons/logout.svg) no-repeat;
    background-size: 25% 100%;
    background-position: center left;
    padding-left: 2rem;
}
#logout-form button:hover {
    text-decoration: underline;
}

/* alert */

.alert {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    background-color: rgb(203, 230, 191);
    color: #173809;
    margin-bottom: 2rem;
    border-radius: .25rem;
}