body:not(.logged-in) {
    background-color: #873287;
}
body:not(.logged-in):after {
    content: "";
    background: url(../img/bg.jpg) no-repeat bottom center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: .8;
}
body:not(.logged-in) main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#login-form {
    backdrop-filter: blur(.8rem);
    color: var(--white);
    width: 30rem;
    max-width: 90vw;
    padding: 0 3.2rem 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border-radius: 1rem;
    text-align: center;
    border: .2rem solid rgb(221, 160, 221, .5);
    box-shadow: 0 .1rem 5rem rgba(82, 0, 74, 0.5);
}
#login-form img {
    width: 6.4rem;
    margin: -1.2rem auto 2rem;
    aspect-ratio: 1;
    filter: drop-shadow(0 .1rem .3rem rgba(82, 0, 74, 0.2)); 
}
#login-form h2 {
    font-size: 2.4rem;
    margin-bottom: .5rem;
    text-transform: lowercase;
}
#login-form input,
#login-form button {
    font: inherit;
    padding: var(--medium-padding);
    border-radius: 2rem;
    border: .1rem solid rgba(254, 218, 254, .4);
    background-color: transparent;
}
#login-form input::placeholder {
    color: var(--white);
}
#login-form input {
    background-color: transparent; 
    background-repeat: no-repeat;
    background-position: right center;
}
#login-form input[name=email] {
    background-image: url(../icons/user-white.svg);
    background-size: 18% 70%;
}
#login-form input[name=password] {
    background-image: url(../icons/lock-white.svg);
    background-size: 18% 60%;
}
#login-form button {
    background: #fedafe;
    color: #8A158A;
}
#login-form button:hover {
    background: var(--white);
}
#login-form label {
    display: none;
}
.error-message {
    display: flex;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
    background-color: var(--error-bg);
    color: var(--error-txt);
    border-radius: var(--border-radius);
    padding: 1.2rem;
}
