@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font: normal 1rem 'albert sans', sans-serif;
}

label {
    font-weight: bold;
}
input, select, textarea, button {
    font: inherit;
    padding: .5rem;
    border: 1px solid #E5E7EB;
    border-radius: .25rem;
}
button {
    background: #E5E7EB;
    cursor: pointer;
}

a {
    color: inherit;
}